{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
                {% if user == post.author %}
                    <a class="mybtn btn-secondary btn-edit" href="{% url 'post_delete' pk=post.pk %}"
                       onclick="return confirm('정말 삭제하시겠습니까?');">
                        {% include './icons/trash3.svg' %}
                    </a>
                    <a class="mybtn btn-secondary btn-edit" href="{% url 'post_edit' pk=post.pk %}">
                        {% include './icons/pencil-fill.svg' %}
                    </a>
                {% endif %}
            {% endif %}
        </aside>

        <p class="post-info">
            작성자: {{ post.author }}
        </p>
        {% if post.published_date %}
            <time class="post-info">
                {{ post.published_date }} /
            </time>
        {% endif %}

        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
            <div>
                <form action="{% url 'likes' pk=post.pk %}" method="POST" class="post-footer" style="display: inline-block;">
                {% csrf_token %}
                {% if user in post.like_users.all %}
                    <button class="mybtn btn-secondary btn-like">
                        Unlike
                    </button>
                {% else %}
                    <button class="mybtn btn-secondary btn-like">Like</button>
                {% endif %}
                </form>
                <p>
                    Likes: {{ post.like_users.all|length }}
                    {% if post.like_users.all|length > 0 %}
                        / like users:
                        {% for like_user in post.like_users.all %}
                            {{ like_user.username }}
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
            <div>
                Comments: {{ post.comments.all|length }}
                <form method="POST" class="post_footer" style="display: inline-block;">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit" class="mybtn btn-secondary btn-like">Comment</button>
                </form>
                {% for comment in comments %}
                    {{ comment.author }}</br>
                    {{ comment.text }}
                {% endfor %}

            </div>
    </article>
{% endblock %}